.icon {
  background-color: #fff;
  border: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
}
.icon:focus {
  outline: 0;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

.icon.active .line1 {
  transform: rotate(765deg) translate(5.5px);
}
.icon.active .line2 {
  transform: rotate(-765deg) translate(5px);
}
