@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.navbar {
  transition: 0.5s ease-in;
}
#portal div {
  transition: 0.5s ease-in;
}

.signup-form:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('bg.svg');
  /* background-color: rgba(0, 0, 0, 0.651); */
  opacity: 0.6;
  z-index: 1;
}
.signup-form > * {
  position: relative;
  z-index: 10;
  /* background-color: white; */
}
